.bg-glass {
    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.56);
}

.bg-main-image {
    background: url('../assets/projectsbanner.jpg');
    background-attachment: scroll;
    background-color: rgba(17, 25, 40, 0.56);
}

.card-img-top {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}